// scss-lint:disable MergeableSelector

// ==========================================================================
// # BOX SIZING
// ==========================================================================

*,
*::before,
*::after {
    box-sizing: border-box;
}


html,
body {
    scroll-behavior: smooth;
    // @TODO: Review
    // overflow-x: hidden;
    width: 100%;
}
