// ==========================================================================
// # IMAGES
//
// All styles releated to inline & background images.
// ==========================================================================

// ==========================================================================
//    MIXINS - in `config/mixins.scss`
// ==========================================================================

// @include base-background($position: 50% 0%, $bgc: 'off-white');





// ==========================================================================
//    BASE
// ==========================================================================

.img--center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
