// ==========================================================================
//
// PLAN LINK
//
// Description: styles to make text hyperlinks look and feel like a standard
// piece of document flow text
//
// ==========================================================================

.plain-link {
    color: color-get(grey);
    text-decoration: none;

    &:hover,
    &:focus {
        color: color-get(grey);
        text-decoration: none;
    }
}
